@tailwind base;
@tailwind components;
<<<<<<< HEAD
@tailwind utilities;

.slick-prev {
    left: 3% !important;
    z-index: 1;
  }
  
  .slick-next {
    right: 3% !important;
    z-index: 1;
  }
=======
@tailwind utilities;
>>>>>>> 51101075818424cdfd4ce13d873e172708763e72
